<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSLocalNetworkUsageDescription</key>
	<string>Remoto uses your local network to find and control your TV. Nothing leaves your home network.</string>
	<key>NSBonjourServices</key>
	<array>
		<string>_androidtvremote._tcp</string>
		<string>_googlecast._tcp</string>
	</array>
</dict>
</plist>
